# Too big
Patient_20180416/T2_Skin/stl/Skin.stl
Patient_20180416/T2_Brain/obj/Brain.obj
Patient_20180404/Skin/stl/Skin.stl
BTI_Testobject 00005090/00005090/stl/00005090.stl
Patient_20180404/SkinFiducials/stl/SkinFuducials.stl
Patient_20180412/Vessel/obj/Vessel.obj
Patient_20180404/Tumor/stl/Tumor.stl
Patient_20180412/Tumor2/obj/Tumor2.obj
prolaps M klep/dcm/prolaps M klep.dcm
Patient_20180412/Skull/obj/Skull.obj
Patient_20180404/Vessels/stl/Vessels.stl
Patient_20180404/Tumor/obj/Tumor.obj
HoloEye_Hologram1_PTkadaver1/raw/0000389B_16x512x512x209.raw
HoloEye_Hologram1_PTkadaver1/raw/00004174_16x512x512x209.raw
Isala_Orthopedic_20180219_B/DICOM/DICOM/DvD 2-1.inv3
Isala_Orthopedic_20180219_B/DICOM/DICOM/Skin.stl
Isala_RadioTherapy_20170201_Full body/PET+CT/inv3/CT.inv3
Isala_RadioTherapy_20170201_Full body/Skin/Skin.stl
Isala_RadioTherapy_20170201_Full body/raw/00000002_284x512x512_600x600mm.raw