# Too big
Patient_20180416/T2_Skin/stl/Skin.stl
Patient_20180416/T2_Brain/obj/Brain.obj
Patient_20180404/Skin/stl/Skin.stl
BTI_Testobject 00005090/00005090/stl/00005090.stl
Patient_20180404/SkinFiducials/stl/SkinFuducials.stl
Patient_20180412/Vessel/obj/Vessel.obj
Patient_20180404/Tumor/stl/Tumor.stl
Patient_20180412/Tumor2/obj/Tumor2.obj
prolaps M klep/dcm/prolaps M klep.dcm
Patient_20180412/Skull/obj/Skull.obj
Patient_20180404/Vessels/stl/Vessels.stl
Patient_20180404/Tumor/obj/Tumor.obj
